html, body {
  height: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgb(255, 255, 255) 10%, rgba(255,251,219,1) 80%);
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bubble::after {
  content: '';
  border-top-left-radius: 60% 100%;
  border-top-right-radius: 60% 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #db690c;
  opacity: 50%;
  height: 90%;
  z-index: 0;
}

.aboutbubble::after {
  content: '';
  border-top-left-radius: 60% 100%;
  border-top-right-radius: 60% 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #82c6c9;
  opacity: 50%;
  height: 90%;
  z-index: 0;
}

.socialbubble::after {
  content: '';
  border-top-left-radius: 70% 80%;
  border-top-right-radius: 70% 80%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #0f0d0c;
  height: 90%;
  z-index: 0;
}

/* .bubble::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  background: rgb(0,0,0);
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #0f0f10;
  height: 85%;
} */

/* blue/white
background: rgb(11,37,69);
background: linear-gradient(0deg, rgba(11,37,69,1) 20%, rgba(141,169,196,1) 80%);  */

/* blue/black
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(44,62,80,1) 80%);   */

  /* blue/grey
  background: rgb(124,152,179);
  background: linear-gradient(0deg, rgba(124,152,179,1) 20%, rgba(99,112,129,1) 80%); 
   */
  /* darkgrey/grey
  background: rgb(40,49,59);
  background: linear-gradient(0deg, rgba(40,49,59,1) 20%, rgba(72,84,97,1) 80%);  */

  /* blue/purple
  background: rgb(13,50,77);
  background: linear-gradient(0deg, rgba(13,50,77,1) 20%, rgba(127,90,131,1) 80%); */